<main class="todo-main">
  <header class="todo-header">
    <h1 class="todo-header__title">todos</h1>
  </header>
  <section>
    <form method="post">
      <label for="todo-text">New Todo:</label>
      <input type="text" id="todo-text" name="todo_text" autocomplete="off" />
      <input type="submit" value="Add Todo Item" />
    </form>
  </section>
  <section>
    <ol>
      {{#items}}
        <li>
          {{text}}
          <form class="inline" method="post">
            <input type="submit" value="Delete Item" />
            <input type="hidden" name="delete" value="{{@index}}" />
          </form>
          {{#if isCompleted}}
            <form class="inline" method="post">
              <input type="submit" value="Mark as undone" />
              <input type="hidden" name="incomplete" value="{{@index}}" />
            </form>
          {{else}}
            <form class="inline" method="post">
              <input type="submit" value="Mark as done" />
              <input type="hidden" name="complete" value="{{@index}}" />
            </form>
          {{/if}}
        </li>
      {{/items}}
    </ol>
  </section>
  <section>
    <form class="inline" method="post">
      {{#filterTypes}}
        <input
          type="radio"
          name="filter-type"
          value="{{type}}"
          id="filter-type-radio-{{type}}"
          {{checked}}
        />
        <label for="filter-type-radio-{{type}}">{{text}} ({{count}})</label>
      {{/filterTypes}}
      <input type="submit" value="Set Filter" />
    </form>
  </section>
</main>