<div class="page-wrapper">
  <main class="page-main todo-main">
    <header class="todo-header">
      <h1 class="todo-header__title">todos</h1>
    </header>
    <section>
      <form class="todo-text-bar" method="post">
        <input
          class="todo-text-input"
          type="text"
          name="todo_text"
          placeholder="What needs to be done?"
          autocomplete="off"
        />
        <input
          class="todo-text-submit-button"
          type="submit"
          value="➕"
          title="Add new todo item"
        />
      </form>
    </section>
    <section>
      <ol class="todo-list">
        {{#items}}
          <li class="todo-list-item">
            {{#if isCompleted}}
              <form method="post">
                <input
                  class="todo-toggle-button todo-toggle-button--checked"
                  type="submit"
                  value=""
                  title="Mark as undone"
                />
                <input type="hidden" name="incomplete" value="{{@index}}" />
              </form>
              <span class="todo-list-item__text todo-list-item__text--complete">
                {{text}}
              </span>
            {{else}}
              <form class="inline" method="post">
                <input
                  class="todo-toggle-button"
                  type="submit"
                  value=""
                  title="Mark as done"
                />
                <input type="hidden" name="complete" value="{{@index}}" />
              </form>
              <span class="todo-list-item__text">{{text}}</span>
            {{/if}}
            <form class="inline" method="post">
              <input
                class="todo-delete-button"
                type="submit"
                value="×"
                title="Delete item"
              />
              <input type="hidden" name="delete" value="{{@index}}" />
            </form>
          </li>
        {{/items}}
      </ol>
    </section>
    <section>
      <form class="inline" method="post">
        {{#filterTypes}}
          <input
            type="radio"
            name="filter-type"
            value="{{type}}"
            id="filter-type-radio-{{type}}"
            {{checked}}
          />
          <label for="filter-type-radio-{{type}}">{{text}} ({{count}})</label>
        {{/filterTypes}}
        <input type="submit" value="Set Filter" />
      </form>
    </section>
  </main>
  <footer class="page-superfooter">
    The design of this Todo App is based on
    <a href="https://todomvc.com/">TodoMVC</a>
  </footer>
</div>